@import '~material-colors/dist/colors';
.car{
	stroke: none;
}

svg#vis{
	width: 350px;
	height: 350px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.car{
	rx: .2px;
	ry: .2px;
}

.road{
	fill: none;
	stroke-width: 5px;
	stroke: $md-grey-200;
}

.label{
	font-size: 3px;
}

.signal{
	fill: $md-red-500;
}

.signal.green{
	fill: $md-green-500;
}
